img{
    width: 200px;
    height: 80px;
} 

.btn-group {
    display: flex;        
}  
.one{
    margin-left: 800px;
    margin-right: 40px;
    background-color: black;
    color: white;
}

.Two{
     margin-right:40px;
     background-color: black;
     color: white;
}
.btn-class{
    margin-top: 20px;
}

.Three{ 
    margin-right: 40px;
    background-color: black;
    color: white;
}

.btn-group{
    display: flex; 
}

.peraone{
    width: 1000px;
    height: 200px;
    margin-top: 90px;
    font-size: x-large;
}
 
.oatsone{    
    margin-left: 10%;
    margin-right: 50px;
    height: 200px;
    width: 400px;
    margin-top: 70px;
}   

.Addone{
    font-size: xx-large;
    margin-left: 10px;

}

.Addtwo{
    width: 50%;
    margin-left: 10px;
}
 

.info{
    margin-left: 40%;
    width: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size:x-large;
    color: black;
    background-color:grey
 }
  
 .h-20{
        height: 20px;
 }

 #Name{
       margin-left: 80px;
 }

 #Address{
    margin-left: 70px;
 }

 .btn-group{
    display: flex; 
}

.one-B{
    margin-left: 50%;
    margin-right: 40px;
    background-color:grey ;
    height: 20px;
}

.Two-BB{
    height: 20px;
    background-color: grey ;
} 

.btn-group{
         display: flex;
}  

.copy{
    margin-left: 1000px;
    font-size: medium; 
    margin-top: 20px; 
    margin-right: 10px;
    font-style: italic; 
}

.contact-from-sub {
    margin-top: 40px;
}

.contextform{
    margin-left: 35%;
    background-color:rgba(161, 135, 135, 0.151);
    width: 465px;
    height: 280px;
    border: solid gray;
    text-align-last: center;
    margin-bottom: 10px;
}


.Bgclass{
         background-color: rgb(69, 56, 99);
}

.bg-color-footer{
    background-color: grey;
    height: 78px;
}

.display-footer-group {
    display: table-footer-group;
}