h1 {
    color: white;
     font-size:  smaller;
    background-color: rgb(160, 34, 101);
}

#test {
    background-color: blue;
    color: palegoldenrod;
}

.testclass{
    background-color: blue;
    color: palegoldenrod; 
}

.secClass{
    background-color: pink;
    color:white; 
}